@using CourseManager.Models;
@{
    var site=(WebsiteInfo) ViewBag.SiteName;
    }
            <div class="navabar navabar-inverse navaber-fixed-top">
                <div class="container">
                    <div class="navabar-header">
                        <button type="button" class="navaber-toggle" data-toggle="collapse">
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink(WebsiteInfo.SiteName, "Index", "Home", new { area = "" }, new { @class="navabar-brand"})
                </div>
                <div class="navaber-collapse collapse">
                    <ul class="nav navbar-nav">
                            @foreach(var link in site.ActionLink)
                            {
                            <li> @Html.ActionLink(link.name,link.Action.link.Contorller )</li>
                            }
                        </ul>
                </div>
            </div>
        </div>